<% layout("/layouts/boilerplate") -%>
<style>
  body{
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 244);
  }
  .banner{
    width: 100vh;
    display: flex;
    justify-content: space-between;
  }
  .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1{
    font-weight: 900;
    font-size: 70px;
  }
  .homebtn{
    padding: 10px 50px;
    margin: 60px;
    font-size: 20px;
  }
  .homebtn:hover{
    opacity: 0.8;
  }

</style>
<body>
  <div class="banner">
    <div class="heading">
      <h1>StayNest</h1>
      <h4>A cozy & secure place to stay</h4>
      <form action="/listings">
      <button class="btn homebtn">Explore</button>
    </form>
    </div>
    <div class="image">
      <img src="/images/Travel1.jpg" alt="">
    </div>

  </div>
</body>
