<% layout("/layouts/boilerplate") -%>
<body>
  <h3>Create new listing here!</h3>
  <form method="POST" action="/listings">
    <input name="listing[title]" placeholder="Enter your title" type="text">
    <br><br>
    <textarea name="listing[description]" placeholder="Enter your description"></textarea>
    <br><br>
    <input name="listing[image]" placeholder="Enter image URL/Link">
    <br><br>
    <input name="listing[price]" placeholder="Enter your listing Price" type="number">
    <br><br>
    <input name="listing[location]" placeholder="Enter your Location" type="text">
    <br><br>
    <input name="listing[country]" placeholder="Enter Country Name" type="text">
    <br><br>
    <button>Add</button>
  </form>
</body>